html * { 
    font-family: Nunito, sans-serif; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
  }

body {
    background-color: cornflowerblue;
}

h1   {
    color: black;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

table { 
    border-collapse: collapse; 
}
tr {
    border-bottom: 1px solid #ddd; 
}
th {
    text-align: left; padding: 5px; 
}
td {
    text-align: left; padding: 5px; 
}

